@import "variables.scss";


.breadcrumbs{
  padding: 12px 0;
  background: $secondary-color;
}

.breadcrumbs ul{
  margin: 0;
}

.breadcrumbs ul li a{
  color: #555555;
}

.breadcrumbs ul li.active{
  color: #fff;
}

.breadcrumbs ul li{
  list-style: none;
  display: inline-block;
}