.btn {
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px 30px 10px 30px;
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 13px;
  font-weight: bold;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 21px;
  text-align: center;
}
.btn.width {
  min-width: 170px;
  padding: 15px 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 15px;
  margin-bottom: 20px;
}
.btn i {
  margin-right: 7px;
}
.btn.green {
  background-color: #4caf50;
}
.btn.orange {
  background-color: #ff9800;
}
.btn.red {
  background-color: #f44336;
}
.btn.grey {
  background-color: #e6e6e6;
  color: #555555;
}
.btn.grey:hover {
  color: #fff;
}
.btn.black {
  background-color: #555555;
}
.btn.yellow {
  background-color: #ffeb3b;
  color: #333333;
}
.btn.yellow:hover {
  color: #fff;
}
.btn-primary {
  background: $primary-color;
  color: #fff;
}
.btn-secondary {
  background: #00B863;
  color: #fff;
}
.btn-third {
  background: #555555;
  color: #fff;
}
.btn-border {
  border: solid 2px #2c3e50;
  color: #2c3e50;
  background: #ffffff;
}
.btn-border-light {
  background: transparent;
  border: solid 2px #ffffff;
}
.btn:hover {
  background-color: $secondary-color;
}
.btn-secondary:hover {
  color: #ffffff;
}
.btn-third:hover {
  color: #ffffff;
}
.btn-border:hover {
  background: #a1b1bc;
  color: #333333;
}
.btn-border-light:hover {
  background: #2C3E50;
  color: #222222;
  border-color: #2C3E50;
}
.btn-border-grey {
  border: 2px solid #ccc;
  color: #999;
}
.btn-border-grey:hover {
  color: #29b6f6;
  border-color: #29b6f6;
  background-color: transparent;
}
.mleft {
  margin-right: 15px;
}
.btn-big {
  padding: 15px 40px 15px 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 15px;
}
.btn-small {
  padding: 10px 25px 10px 25px;
}
.btn-radius.width,
.btn-radius {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
.no-radius.width,
.no-radius {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}