body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  color: #666666;
  //background: palegreen;
  text-shadow: none !important;
  overflow-x: hidden;
}


a,
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-top: 0px;
}


